.contact {
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    color: white;
    /* -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent); */
    mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);

}